<div class="container p-5 d-flex flex-column align-items-center justify-content-center">

  <h1>FLAT</h1>

  <div class="card col-sm-4 m-5 border border-danger" style="width: 30rem;">
      <img src="https://images.unsplash.com/photo-1554995207-c18c203602cb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top mt-2" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= @flat.name %></h5>
        <p class="card-text"><%= @flat.address %></p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @flat.description %></li>
            <li class="list-group-item">Price/night: $<%= @flat.price_per_night %></li>
            <li class="list-group-item">Guests: <%= @flat.number_of_guests %></li>
          </ul>
        <div class="card-body d-flex align-items-center justify-content-center">
          <button class="btn btn-primary w-50 me-2"><%= link_to 'Edit information', edit_flat_path(@flat), class:"text-light text-decoration-none" %></button>
          <button class="btn btn-primary w-50"><%= link_to 'Back to flats', flats_path, class:"text-light text-decoration-none" %></button>
        </div>
          <button class="btn btn-warning w-50 mx-auto mb-3"><%= link_to 'Delete Flat', flat_path(@flat), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"text-dark text-decoration-none" %></button>
  </div>
</div>
